/* Global rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
  padding-top: 3.5rem;
}

main {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem 0.7rem;
}
@media (min-width: 750px) {
  main {
    padding: 2rem 2rem;
  }
}

h1, h3, h4 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* Navigation menu */

@media (min-width: 750px) {
  body {
    padding-left: 300px;
    transition: all 0.4s ease-out;
  }
}
@media (min-width: 1050px) {
  body {
    padding-left: 350px;
  }
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  color: white;
  background-color: darkblue;
  padding: 0 1rem 0 0.7rem;
  z-index: 5;
}
@media (min-width: 750px) {
  #app-header {
    padding: 0 3rem;
  }
}

h1 {
  font-size: 1.8rem;
  cursor: default;
}

h1 i {
  margin-right: 0.2rem;
}

#nav-wrapper {
  position: fixed;
  top: 0;
  left: -760px;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-out;
}
@media (min-width: 750px) {
  #nav-wrapper {
    width: auto;
    left: 0;
  }
}

@media (min-width: 750px) {
  body.nav-positioner {
    padding-left: 0;
  }
}

body.nav-positioner #nav-wrapper {
  left: 0 !important;
}
@media (min-width: 750px) {
  body.nav-positioner #nav-wrapper {
    left: -760px !important;
  }
}

#nav-menu {
  width: 300px;
  height: 100%;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.75);
  padding-top: 3rem;
  background-color: whitesmoke;
  overflow: auto;
}
@media (min-width: 750px) {
  #nav-menu {
    padding-top: 4rem;
  }
}
@media (min-width: 1050px) {
  #nav-menu {
    width: 350px;
  }
}

.active-tab {
  background-color: #dbdbdb;
}

#nav-standard-items i {
  margin-right: 0.5rem;
}

header h3 i {
  margin-right: 0.7rem;
}

.fa-inbox {
  color: darkblue;
}

.fa-calendar-day {
  color: darkred;
}

#nav-standard-items .fa-calendar-alt,
header .fa-calendar-alt {
  color: #6e029d;
}

#nav-toggler {
  margin-left: auto;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 1.8rem;
}
#nav-toggler:hover {
  background-color: rgba(211, 211, 211, 0.363);
}

.btn-flex {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
}

.btn-menu {
  width: 100%;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 3px;
}

.btn-flex:hover,
#nav-menu > .btn-add:hover,
.btn-proj-option:hover {
  background-color: #eae5e5;
}

#nav-menu h2 {
  margin: 0.5rem 1rem;
  border-bottom: 1px solid grey;
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

#nav-projects {
  margin: 0;
}

.span-title {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.5rem;
}

.task-number {
  color: gray;
  font-size: 1rem;
  margin-left: auto;
}

.project-icon {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

#project-form {
  max-height: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  margin: 0 0.5rem 0 1rem;
}

.show-form #project-form {
  max-height: 100px;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
}

#project-form .task-option {
  color: darkgreen;
}

.btn-add {
  text-align: left;
  padding: 0 1rem 0.3rem;
  color: darkblue;
  line-height: 2rem;
}
.btn-add::before {
  content: "+";
  position: relative;
  top: 3px;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  padding: 0;
}


/* Project page */

main header {
  margin-bottom: 1rem;
}

main h3 {
  font-size: 1.6rem;
}

.description {
  margin: 0.7rem 0 1rem;
}

progress {
  width: 290px;
}

.btn-options {
  color: grey;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  font-size: 1.4rem;
}
@media (hover: hover) and (pointer: fine) {
  .btn-options:hover {
    background: #e1e0e0;
  }
}

#popup-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 6;
}

#project-options {
  position: absolute;
  background: white;
  width: max-content;
  margin: 0;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 lightgray;
  border: 1px solid lightgray;
}

.btn-proj-option {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.5rem;
  width: 100%;
  cursor: pointer;
}

.btn-proj-option i {
  margin-right: 0.5rem;
  color: gray;
}

.task-list {
  margin: 1rem -0.5rem 0;
}

.task-list li {
  cursor: pointer;
  padding: 1rem 0.6rem;
  border-top: 1px solid lightgray;
  -webkit-tap-highlight-color: transparent;
}

.task-main {
  display: flex;
  align-items: center;
}

.task-list li:last-child {
  border-bottom: 1px solid lightgray;
}

li.checked .task-main {
  text-decoration: line-through;
  color: grey;
  font-weight: 400;
}

li.priority {
  background: lightyellow;
}

li.edit-mode {
  cursor: auto;
  margin: 0 -0.5rem;
  padding: 1rem 1.1rem;
}

li.edit-mode,
.edit-mode {
  position: relative;
  z-index: 3;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 1px 1px lightgrey;
}

.fa-check {
  color: white;
  border-radius: 5px;
  border: 2px solid grey;
  font-size: 0.9rem;
}

.checked .fa-check {
  background: blue;
  border: 2px solid blue;
  animation-duration: 0.2s;
}
@keyframes check {
  0% {
    box-shadow: 0 0 1px 2px lightsteelblue;
    background: white;
    border: 2px solid grey;
  }
  50% {
    box-shadow: 0 0 4px 5px lightsteelblue;
  }
}

.btn-check {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin-right: 0.5rem;
}

.due-date {
  background-color: #eae5e5;
  margin-left: auto;
  color: grey;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0 0.3rem;
  align-self: center;
  min-width: max-content;
}

.due-date.today {
  color: green;
  border: 2px solid green;
}
.due-date.expired {
  color: darkred;
}

main .btn-add {
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  -webkit-tap-highlight-color: transparent;
}

main .show-form .btn-add {
  display: none;
}

/* Task form */

#task-form-wrapper {
  margin: 0 -0.7rem;
  padding: 0 0.5rem;
}

#new-task-form {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  padding: 0 0.6rem;
}

.show-form #new-task-form {
  max-height: 300px;
  padding: 0.8rem 0.6rem 1rem;
}

.show-form .btn-add {
  color: gray;
}

.show-form .btn-add::before {
  content: "-";
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.task-title,
.project-title {
  border: none;
  flex-grow: 1;
  padding: 0;
  min-width: 0;
  background: inherit;
}

.task-notes {
  padding-left: 1.5rem;
}

.task-option {
  color: grey;
  font-size: 1.2rem;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
}
.task-option.active {
  color: darkred;
}
@media (hover: hover) and (pointer: fine) {
  .task-option:hover {
    background: #e1e0e0;
  }
}

.task-option[aria-label="edit-task"] {
  margin-left: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0.7rem 0;
  border: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-options {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted gray;
}

input.task-title:focus,
input.project-title:focus,
input.form-control:focus,
textarea:focus {
  outline: none;
}

form .flatpickr {
  display: flex;
  box-shadow: 0 0 1px 1px gray;
  border-radius: 5px;
  margin-right: 0.5rem;
}
form .flatpickr:focus-within {
  box-shadow: 0 0 1px 1px darkblue;
}
@media (min-width: 350px) {
  form .flatpickr {
    margin-right: 1rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  form .flatpickr > *:hover {
    background: #e1e0e0;
  }
}

.form-control {
  border: none;
  cursor: pointer;
  width: 90px;
  padding: 0.3rem 0;
}
@media (min-width: 350px) {
  .form-control {
    width: 100px;
  }
}

.form-options .input-button {
  border-left: 1px solid gray;
  padding: 0 0.4rem;
  border-radius: 5px;
}

.flatpickr button {
  color: grey;
}

.btn-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn-form {
  width: 100px;
  padding: 0.4rem 0;
  border-radius: 5px;
}

.btn-submit {
  background: darkblue;
  margin-right: 1rem;
  color: white;
  box-shadow: 0 0 1px 1px darkblue;
  transition: 0.3s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .btn-submit:hover {
    background: blue;
  }
}

.btn-cancel {
  box-shadow: 0 0 1px 1px grey;
  transition: 0.2s ease-out;
  background: white;
}
@media (hover: hover) and (pointer: fine) {
  .btn-cancel:hover {
    background: #e1e0e0;
    box-shadow: 0 0 1px 1px darkred;
  }
}

.task-project-wrapper {
  display: grid;
  align-items: center;
  grid-template-areas: "select";
  max-width: 250px;
  box-shadow: 0 0 1px 1px grey;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
@media (hover: hover) and (pointer: fine) {
  .task-project-wrapper:hover {
    background: #e1e0e0;
  }
}
.task-project-wrapper:focus-within {
  box-shadow: 0 0 1px 1px darkblue;
}
.task-project-wrapper::before {
  content: "";
  justify-self: start;
  width: 0.5rem;
  height: 0.5rem;
  background-color: grey;
  margin-left: 0.2rem;
}
.task-project-wrapper::after {
  content: "";
  width: 0.8rem;
  height: 0.5rem;
  background-color: grey;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  margin-right: 0.2rem;
}

select.task-project {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.3rem 1.1rem 0.3rem 0.9rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: none;
  z-index: 1;
}

.task-project-wrapper::before,
.task-project-wrapper::after,
select.task-project {
  grid-area: select;
}

.task-extension {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  margin-left: 1.5rem;
}

[aria-expanded="true"] .task-extension {
  max-height: 200px;
  padding: 0;
}

.task-extension p {
  margin: 0.5rem 0 0.7rem;
  color: #524f4f;
}

.task-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.6rem;
}

.task-options i {
  width: 20px;
}


/* Delete confirmation menu */

#conf-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.3s;
  cursor: auto;
}
@keyframes appear {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

#conf-delete {
  max-width: 600px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 2rem 1rem;
}

#conf-delete p {
  margin: 0;
  text-align: center;
}

.btn-conf-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 2px dotted gray;
}

.btn-delete {
  background: darkred;
  color: white;
  box-shadow: 0 0 1px 1px darkred;
  transition: 0.3s ease-out;
  margin-right: 1rem;
}
@media (hover: hover) and (pointer: fine) {
  .btn-delete:hover {
    background: red;
  }
}

.title-span {
  font-weight: bold;
}


/* Project edit form */

#edit-project {
  padding: 1rem 1rem 1rem;
  margin: -1rem -1rem 0.7rem;
}

#edit-project .project-title {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
}

#edit-project .btn-form-wrapper {
  border-top: 2px dotted gray;
  padding-top: 1rem;
}


/* Page overlay when forms are active */

.form-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 150, 150, 0.2);
  z-index: 2;
  display: none;
}

.show {
  display: block;
}


/* Today page */

#header-today {
  display: flex;
  align-items: baseline;
}

#header-today p {
  margin: 0 0 0 1rem;
  color: gray;
}

.project-name {
  color: gray;
  font-size: 0.8rem;
  margin: 0 0 0 1.6rem;
}

.project-name i {
  font-size: 0.5rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}


/* Upcoming page */

#header-upcoming {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  margin-bottom: 1.5rem;
}

.day-tasks {
  margin: 1.5rem 0;
}

.day-tasks:last-of-type {
  margin-bottom: 1rem;
}

.day-tasks h4 {
  font-weight: 600;
}

.day-tasks .task-list {
  margin: 0.5rem -0.5rem 0!important;
}
