/* Variables declarations */
:root {
  --header-height: 55px;
}

/* Global rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

h1, h3 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Main menu */
@media (min-width: 750px) {
  body {
    padding-left: 300px;
    transition: all 0.4s ease-out; 
  }
}
@media (min-width: 1050px) {
    body {
      padding-left: 350px;
    }
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height, 55px);
  color: white;
  background-color: darkblue;
  padding: 0 0.7rem;
  z-index: 3;
}
@media (min-width: 750px) {
  #app-header {
    padding: 0 3rem;
  }
}

h1 {
  font-size: 1.8rem;
}

#nav-wrapper {
  position: fixed;
  top: 0;
  left: -760px;
  width: 100vw;
  height: 100%;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.9);
  transition: all 0.3s ease-out;
}
@media (min-width: 750px) {
  #nav-wrapper {
    width: auto;
    left: 0;
  }
}

@media (min-width: 750px) {
  body.nav-positioner {
    padding-left: 0;
  }
}

body.nav-positioner #nav-wrapper {
  left: 0 !important;
}
@media (min-width: 750px) {
  body.nav-positioner #nav-wrapper {
    left: -760px !important;
  }
}

#nav-menu {
  width: 300px;
  height: 100%;
  box-shadow: 3px 0 3px grey;
  padding-top: 3rem;
  background-color: white;
  overflow: auto;
}
@media (min-width: 1050px) {
  #nav-menu {
    width: 350px;
  }
}


#nav-toggler {
  margin-left: auto;
  color: white;
  padding: 1.5px 5px;
  border-radius: 5px;
  font-size: 1.7rem;
}
#nav-toggler:hover {
  background-color: rgba(211, 211, 211, 0.363);
}

.btn-flex {
  display: flex;
  padding: 0.8rem 1rem;
}
.btn-flex:hover, #nav-menu>.btn-add:hover {
  background-color: #eae5e5;
}

.btn-menu {
  width: 100%;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

#nav-projects {
  margin: 0;
}

#nav-projects h2 {
  margin: 0.5rem 1rem;
  border-bottom: 1px solid grey;
}

#nav-projects .btn-flex::before {
  content: counter(list-style-type, square);
  margin-right: 0.5rem;
}

.btn-menu span:last-child {
  margin-left: auto;
}

.btn-add {
  text-align: left;
  padding: 0 1rem 0.3rem;
  color: darkblue;
  line-height: 2rem;
}
.btn-add::before {
  content: '+';
  position: relative;
  top: 3px;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li::marker {
  margin-left: 2rem;
}

/* Project page */
main {
  width: 100%;
  max-width: 750px;
  margin: var(--header-height, 55px) auto 0;
  padding: 1.2rem 0.5rem;
}
@media (min-width: 750px) {
  main {
    padding: 2rem;
  }
}

main header {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.btn-options {
  color: grey;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: auto;
}

.task-list {
  margin: 2rem -0.5rem 0.5rem;
}

.task-list li {
  cursor: pointer;
  padding: 1rem 0.6rem;
  border-top: 1px solid lightgray;
  -webkit-tap-highlight-color: transparent;
}

.task-main {
  display: flex;
}

.task-list li:last-child {
  border-bottom: 1px solid lightgray;
}

li.checked .task-main {
  text-decoration: line-through;
  color: grey;
}

li.priority {
  background: lightyellow;
}

li.edit-mode {
  cursor: auto;
}

.fa-check {
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px gray;
  padding: 2px;
  vertical-align: text-top;
  font-size: 0.8rem;
}

.task-list li.checked .fa-check {
  background: blue;
}

.btn-check {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin-right: 0.5rem;
  align-self: center;
}

.due-date {
  background-color: #eae5e5;
  margin-left: auto;
  color: grey;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0 0.3rem;
  align-self: center;
}

.due-date.today {
  color: green;
  border: 2px solid green;
}
.due-date.expired {
  color: darkred;
}

main .btn-add {
  padding-left: 0.1rem;
  -webkit-tap-highlight-color: transparent;
}

#new-task-form {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.show-form #new-task-form {
  max-height: 300px;
  border-bottom: 1px solid gray;
  padding: 0.3rem 0 1rem;
}

.show-form .btn-add {
  color: gray;
}

.show-form .btn-add::before {
  content: '-';
}

.flex-wrapper {
  display: flex;
  margin-bottom: 0.4rem;
}

.task-title, .task-notes {
  border: none;
  padding: 0.2rem;
}

.task-title {
  flex-grow: 1;
}

.task-option {
  color: grey;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  border-radius: 5px;
}
.task-option.active {
  color: darkred;
}
@media (hover: hover) and (pointer: fine) {
  .task-option:hover {
    background: #e1e0e0;
  }
}

textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.4rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-options {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted gray;
}

input.task-title:focus, 
input.form-control:focus, 
textarea:focus {
  outline: none;
}

form .flatpickr {
  display: flex;
  box-shadow: 0 0 1px 1px gray;
  border-radius: 5px;
  margin-right: 0.5rem;
}
form .flatpickr:focus-within {
  box-shadow: 0 0 1px 1px darkblue;
}
@media (min-width: 350px) {
  form .flatpickr {
    margin-right: 1rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  form .flatpickr>*:hover {
    background: #e1e0e0;
  }
}


.form-control {
  border: none;
  cursor: pointer;
  width: 90px;
  padding: 0.3rem 0;
}
@media (min-width: 350px) {
  .form-control {
    width: 100px;
  }
}

.form-options .input-button {
  border-left: 1px solid gray;
  padding: 0 0.4rem;
  border-radius: 5px;
}

.flatpickr button {
  color: grey;
}

.btn-form-wrapper {
  display: flex;
}

.btn-form {
  width: 153px;
  margin-right: 1rem;
  padding: 0.4rem 0;
  border-radius: 5px;
}

.btn-submit {
  background: darkblue;
  color: white;
  box-shadow: 0 0 1px 1px darkblue;
  transition: 0.3s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .btn-submit:hover {
    background: blue;
  }
}

.btn-cancel {
  box-shadow: 0 0 1px 1px grey;
  transition: 0.2s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .btn-cancel:hover {
    background: #e1e0e0;
  }
}

.task-project-wrapper {
  display: grid;
  align-items: center;
  grid-template-areas: "select";
  max-width: 250px;
  box-shadow: 0 0 1px 1px grey;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
@media (hover: hover) and (pointer: fine) {
  .task-project-wrapper:hover {
    background: #e1e0e0;
  }
}
.task-project-wrapper:focus-within {
  box-shadow: 0 0 1px 1px darkblue;
}
.task-project-wrapper::before {
  content: "";
  justify-self: start;
  width: 0.5rem;
  height: 0.5rem;
  background-color: grey;
  margin-left: 0.2rem;
}
.task-project-wrapper::after {
  content: "";
  width: 0.8rem;
  height: 0.5rem;
  background-color: grey;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  margin-right: 0.2rem;
}

select.task-project {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.3rem 1.1rem 0.3rem 0.9rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: none;
  z-index: 1;
}

.task-project-wrapper::before, 
.task-project-wrapper::after, 
select.task-project {
  grid-area: select;
}

.task-extension {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  margin-left: 1.5rem;
}

.extended .task-extension {
  max-height: 200px;
  padding: 0.2rem 0;
}

div.task-options {
  display: flex;
  justify-content: flex-end;
}

.task-options i {
  width: 20px;
}